jupyter
ipykernel==6.6.0
python-dotenv
scikit-learn
matplotlib
pandas
numpy
openai
networkx
Counter
pytesseract
tqdm
lxml
joblib
lda
scipy
seaborn
requests
langdetect
nltk
psutil
Pillow
logger
google_play_scraper
tensorflow
wordnet